* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.container-index {
  background: #020024;
  background: linear-gradient(343deg, #020024 0%, rgba(77, 77, 213, 0.664303) 10%, rgba(17, 107, 195, 0.908001) 35%, rgba(25, 168, 241, 0.964023) 51%, rgba(0, 212, 255, 0.857581) 68%, rgba(0, 212, 255, 0.983631) 85%, rgba(0, 212, 255, 0.927609) 97%);
  height: 700px;
  background-repeat: no-repeat;
  width: 425px; }

/** adaptacion tablet */
@media (min-width: 768px) {
  .container-index {
    height: 700px;
    width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header"
 "main"
 "footer"; } }

/** adaptacion laptop - pc */
@media (min-width: 1024px) {
  .container-index {
    width: 100%;
    height: 700px; } }

.container-sobremi {
  background: #020024;
  background: linear-gradient(343deg, #020024 0%, rgba(77, 77, 213, 0.664303) 10%, rgba(17, 107, 195, 0.908001) 35%, rgba(25, 168, 241, 0.964023) 51%, rgba(0, 212, 255, 0.857581) 68%, rgba(0, 212, 255, 0.983631) 85%, rgba(0, 212, 255, 0.927609) 97%);
  background-repeat: no-repeat;
  width: 425px;
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
 "main"
 "footer"; }

/** adaptacion tablet */
@media (min-width: 768px) {
  .container-sobremi {
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header"
 "main"
 "footer"; } }

.container-experiencia {
  background: #020024;
  background: linear-gradient(343deg, #020024 0%, rgba(77, 77, 213, 0.664303) 10%, rgba(17, 107, 195, 0.908001) 35%, rgba(25, 168, 241, 0.964023) 51%, rgba(0, 212, 255, 0.857581) 68%, rgba(0, 212, 255, 0.983631) 85%, rgba(0, 212, 255, 0.927609) 97%);
  background-repeat: no-repeat;
  width: 425px;
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
 "main"
 "footer"; }

/** adaptacion tablet */
@media (min-width: 768px) {
  .container-experiencia {
    width: 100%;
    height: 600px; } }

/** adaptacion laptop - pc */
@media (min-width: 1024px) {
  .container-experiencia {
    height: 700px; } }

.container-proyectos {
  background: #020024;
  background: linear-gradient(343deg, #020024 0%, rgba(77, 77, 213, 0.664303) 10%, rgba(17, 107, 195, 0.908001) 35%, rgba(25, 168, 241, 0.964023) 51%, rgba(0, 212, 255, 0.857581) 68%, rgba(0, 212, 255, 0.983631) 85%, rgba(0, 212, 255, 0.927609) 97%);
  background-repeat: no-repeat;
  width: 425px;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
 "main"
 "footer"; }

/** adaptacion laptop - pc */
@media (min-width: 1024px) {
  div.container-proyectos {
    height: 720px; } }

.container-contactos {
  background: #020024;
  background: linear-gradient(343deg, #020024 0%, rgba(77, 77, 213, 0.664303) 10%, rgba(17, 107, 195, 0.908001) 35%, rgba(25, 168, 241, 0.964023) 51%, rgba(0, 212, 255, 0.857581) 68%, rgba(0, 212, 255, 0.983631) 85%, rgba(0, 212, 255, 0.927609) 97%);
  background-repeat: no-repeat;
  width: 425px;
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
 "main"; }

.Container-Header {
  background-color: #282828;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed; }

.container-container-icon {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.Container-icon {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.Container-icon img {
  width: 40px;
  height: 40px; }

nav {
  width: 220px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 3px solid white; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

nav ul li {
  list-style: none; }

.container-link {
  width: 40px;
  height: 40px;
  margin: 12px; }

.container-link img {
  width: 25px;
  height: 25px; }

.container-p {
  position: absolute; }

.container-p p {
  text-decoration: none;
  position: absolute;
  color: aliceblue;
  opacity: 0; }

/** header - sobremi */
header {
  grid-area: header; }

/** header - experiencia */
header {
  grid-area: header; }

/** header - proyectos */
header {
  grid-area: header; }

/** header - contactos */
header {
  grid-area: header; }

/** adaptacion tablet */
/** header - pagina principal */
@media (min-width: 768px) {
  header {
    grid-area: header; } }

/** adaptacion tablet */
/** header - sobremi */
@media (min-width: 768px) {
  header {
    grid-area: header; } }

/** adaptacion laptop - pc */
/** header - pagina principal */
@media (min-width: 1024px) {
  Header {
    width: 15%;
    height: 700px;
    position: fixed; }
  .Container-Header:hover {
    animation-name: headertransform;
    animation-duration: 700ms;
    animation-delay: 150ms;
    animation-fill-mode: forwards; }
  @keyframes headertransform {
    0% {
      width: 10%; }
    100% {
      width: 50%; } }
  .Container-Header {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px; }
  .container-container-icon {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .Container-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  nav {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  nav ul li {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  nav ul li a img {
    width: 50px;
    height: 50px; }
  .container-p {
    position: absolute; }
  .container-p p {
    text-decoration: none;
    position: absolute;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  /** animaciones-header */
  nav ul li:hover {
    width: 200px;
    height: 100px;
    background-color: black;
    border-radius: 30px; }
  nav ul li:hover a img {
    transform: translate(-30px); }
  nav ul li:hover .container-p p {
    opacity: 1; } }

.main-index {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.main-index section {
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.container-article-index {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.container-article-index-1 {
  margin-top: 50px; }

.container-title {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.container-div-img {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%; }

.container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px; }

.container-img img {
  width: 250px;
  height: 100px;
  border-radius: 20px; }

/** main - sobremi */
main {
  grid-area: main; }

.container-section-sobremi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.container-main-img {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.container-main-img img {
  width: 200px;
  height: 200px;
  border-radius: 50px; }

.container-article-sobremi {
  width: 250px;
  height: 300px;
  background-color: thistle;
  border-radius: 10px; }

.container-article-sobremi div h1 {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.container-article-sobremi div div {
  padding: 20px; }

/** main - experiencia */
main {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.article-experiencia h1 {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.container-info-experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.container-articles-experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.container-articles-experiencia div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.container-articles-experiencia div div p {
  padding: 10px;
  width: 250px; }

.container-articles-experiencia img {
  width: 50px;
  height: 50px; }

/** main - proyectos */
main {
  grid-area: main; }

.article-proyectos img {
  width: 200px;
  height: 100px;
  border-radius: 40px; }

.article-proyectos div div {
  display: none; }

.article-proyectos div div p {
  display: none; }

/** main - contactos */
main {
  grid-area: main; }

.container-main-contactos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "1"
 "2"
 "3"
 "4"
 "5";
  height: 700px; }

.container-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.container-c img {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 50%; }

.container-titles-contactos {
  margin-left: 10px; }

.container-titles-contactos a {
  text-decoration: none; }

.container-titles-contactos a h2 {
  color: aqua; }

.container-c-1 {
  grid-area: 1;
  width: 250px;
  height: 80px;
  border-radius: 50px; }

.container-c-2 {
  grid-area: 2;
  height: 80px; }

.container-c-3 {
  grid-area: 3;
  height: 80px; }

.container-c-4 {
  grid-area: 4;
  height: 80px; }

.container-c-5 {
  grid-area: 5;
  height: 80px; }

/** adaptacion tablet */
/** main - pagina principal */
@media (min-width: 768px) {
  main {
    grid-area: main;
    width: 100%; }
  .main-index {
    width: 100%; }
  .main-index section {
    width: 100%; }
  .container-article-index {
    width: 700px;
    height: 350px; }
  .container-title {
    height: 100px; }
  .container-title h2 {
    font-size: 30px; }
  .container-div-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px; }
  .container-img img {
    width: 80%;
    height: 150px; }
  .container-img-1 {
    width: 350px; }
  .container-img-2 {
    width: 350px; } }

/** adaptacion tablet */
/** main - sobremi */
@media (min-width: 768px) {
  main {
    grid-area: main; } }

/** adaptacion tablet */
/** main - experiencia */
@media (min-width: 768px) {
  .article-experiencia h1 {
    width: 600px;
    margin-bottom: 20px; }
  .container-info-experiencia {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
  .container-proyectos {
    width: 100%;
    height: 560px; }
  .article-proyectos-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 150px;
    margin-bottom: 20px; }
  .article-proyectos-1 div {
    margin: 20px; }
  .article-proyectos-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 150px; }
  .article-proyectos-2 div {
    margin: 20px; } }

footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.footer a img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px; }

/** footer - sobremi */
footer {
  grid-area: footer; }

/** footer - experiencia */
footer {
  grid-area: footer; }

/** footer - proyectos */
footer {
  grid-area: footer; }

/** footer - contactos */
/** esta pagina no contiene un footer */
/** adaptacion tablet */
/** footer - pagina principal */
@media (min-width: 768px) {
  footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer {
    width: 60%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer a img {
    width: 40px;
    height: 40px; } }

/** adaptacion tablet */
/** footer - sobremi */
@media (min-width: 768px) {
  footer {
    grid-area: footer; } }

/** adaptacion tablet */
/** footer - experiencia */
@media (min-width: 768px) {
  .footer {
    margin-top: 50px; }
  .container-contactos {
    width: 100%;
    height: 800px; }
  .container-main-contactos {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container-c {
    width: 300px;
    height: 80px;
    margin: 20px; } }
